asgiref==3.9.1
click==8.2.1
colorama==0.4.6
coverage==7.4.0
django==4.2.23
django-grappelli==4.0.2
django-stubs==5.2.1
django-stubs-ext==5.2.1
et-xmlfile==2.0.0
gunicorn==22.0.0
iniconfig==2.1.0
numpy==2.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pandas-stubs==2.3.0.250703
pip==25.1.1
pluggy==1.6.0
psycopg2-binary==2.9.9
pytest==7.4.4
pytest-django==4.7.0
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
types-pyyaml==6.0.12.20250516
typing-extensions==4.14.1
tzdata==2025.2
uv==0.7.21
wait-for-it==2.2.2
wheel==0.45.1
